.todo-container {
  background-color: #5e56ee;
  color: #ffffff;
  font-family: 'Roboto';
  height: 30px;
  border-radius: 8px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}
.list {
  list-style-type: none;
  padding: 15px;
}
.span {
  padding: 10px;
}
.addBtn {
  color: #ffffff;
  background-color: aqua;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
}
.input {
  height: 32px;
}
